<div [@routerTransition]>
    <app-page-header [heading]="'Home Países'" [icon]="'fa-globe'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12" style="border: none">

                <a [routerLink]="['../list']">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; cursor: pointer;">
                        <div class="card-header text-center">
                            <h5>Lista de Países</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">Acessar</p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>